.part1{
    display: flex;
    padding: 15px 7%;
    gap: 20px;
}
.text2{
    color: rgba(0, 0, 255, 0.74);
    font-size: 30px;
}
.images{
    display: flex;
    flex-direction: column;
    padding: 0 7%;
}