.text{
    font-family: Josefin Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    color: #15A1DB;
    
}
ul{
 list-style: none;
 display: flex;
 gap: 15px;
 font-size: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 7%;
    border: 3px groove rgba(0, 0, 0, 0.24);
    border-radius: 100px;
    border-width:thin;
    align-items: center;
}
.icons{
    display: flex;
    gap: 20px;
    color:#15A1DB ;
    
}
